{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <h1>{{ 'panier.titre'|trans}}</h1>
    {% if paniers is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'panier.nom'|trans }}</th>
                <th>{{ 'panier.quantitie'|trans }}</th>
                <th>{{ 'panier.montant'|trans }}</th>
                <th>{{ 'produit.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for panier in paniers %}
                <tr>
                    <td>{{ panier.produit }}</td>
                    <td>{{ panier.quantite }}</td>
                    <td>{{ panier.produit.prix}}€</td>
                    <td><a class="btn btn-danger" href="{{ path('supprpanier',{'id':panier.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {%  endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il n'y a aucun produit</p>
    {% endif %}


{% endblock %}
