{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'produit.nom'|trans }}</th>
            <th>{{ 'produit.image'|trans }}</th>
            <th>{{ 'produit.quantitie'|trans }}</th>
            <th>{{ 'produit.prix'|trans }}</th>
            <th>{{ 'produit.action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ produit.nom }}</td>
                {% if produit.photo is not null %}
                    <td><img style="max-width:250px " src="{{ asset('/uploads/'~produit.photo) }}"></td>
                {% else %}
                    <td>Il n'y a pas de PHOTOS</td>
                {% endif %}
                <td>{{ produit.quantite }}</td>
                <td>{{ produit.prix}}€</td>
                <td><a class="btn btn-danger" href="{{ path('supprproduit', {'id': produit.id}) }}">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>Modification produit</h3>
    {{ form(form_edit) }}
{% endblock %}
